<form>
  <input
    type="text"
    placeholder="Inserisci una chiave"
    name="key"
    [(ngModel)]="key"
  />
</form>
<br />
<button (click)="nuovaChiave()">Ottieni nuova chiave</button>
<form>
  <p>configura la platea</p>
  <select #filePlatea>
    <option selected="true" disabled="true" [value]="undefined">file</option>
    <option *ngFor="let file of filePlateaMax; let i = index" [ngValue]="i">
      {{ i + 1 }}
    </option>
  </select>
  <select #postiPlatea>
    <option selected="true" disabled="true" [value]="undefined">posti</option>
    <option
      *ngFor="let file of postiPlateaMax; let i = index"
      [ngValue]="i + 1"
    >
      {{ i + 1 }}
    </option>
  </select>
</form>
<form>
  <p>configura il palco</p>
  <select #filePalco>
    <option selected="true" disabled="true" [value]="undefined">file</option>
    <option *ngFor="let file of filePalchiMax; let i = index" [ngValue]="i + 1">
      {{ i + 1 }}
    </option>
  </select>
  <select #postiPalco>
    <option selected="true" disabled="true" [value]="undefined">posti</option>
    <option
      *ngFor="let posti of postiPalchiMax; let i = index"
      [ngValue]="i + 1"
    >
      {{ i + 1 }}
    </option>
  </select>
</form>
<br />
<button
  (click)="
    aggiungiTeatro(
      filePlatea.value,
      postiPlatea.value,
      filePalco.value,
      postiPalco.value
    )
  "
>
  Conferma
</button>
<p>{{ conferma }}</p>
<br />
