<div *ngIf="!admin">
  <app-login
    *ngIf="!logged"
    (chiaveUtenteEmitter)="getDati($event)"
    [(rapido)]="rapido"
  ></app-login>
  <app-teatro
    *ngIf="logged && teatro$"
    [teatro$]="teatro$"
    [rapido]="rapido"
    [conferma]="conferma"
    (prenotazioneEmitter)="aggiornaPrenotazioni($event)"
  ></app-teatro>
</div>
<button *ngIf="!admin && !logged" (click)="admin = true">
  Nuovo Spettacolo
</button>
<div *ngIf="admin">
  <app-gestione></app-gestione>
</div>
<button *ngIf="teatro$ || admin" (click)="indietro()">Indietro</button>
